# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock files
.terraform.lock.hcl

# Ignore plan output files
*tfplan*
*.plan

# Ignore variable files that might contain sensitive data
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Ignore environment-specific files
.envrc
.env

# Ignore IntelliJ IDEA files
.idea/

# Ignore VSCode files
.vscode/

# Ignore Mac OS files
.DS_Store

# Ignore backup files
*.bak
*.backup
*~
